.label {
    -fx-text-fill: rgb(0, 0, 0);
}

.label-bright {
    -fx-text-fill: white;
}
.label-dark {
    -fx-text-fill: rgb(0, 0, 0);
}

.label-red {
    -fx-text-fill: rgb(255, 0, 0);
}

.label-transparent{
    -fx-text-fill: rgba(255, 255, 255, 0);
}

.label-cont-bright {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: "Arial" ;
}


/* Employee DETAILS */

.add-pic-button {
    -fx-background-color: transparent;
    -fx-background: transparent;
    background-color: transparent;
    background: transparent;
}

.add-pic-button:hover {
    -fx-background-image: url(../assets/images/add-icon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-color: rgba(214, 214, 214, 0.575);
    background-image: url(../assets/images/add-icon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(214, 214, 214, 0.575);
}

.add-pic-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.575);
    background-color: rgba(0, 0, 0, 0.575);
}


/* Department and Salary Grade MASTERLIST */

.dept-container {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #28334a, #314268);
    background-color: #dddddd;
}
.dividers {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #121722, #06080e);
    background-color: #dddddd;
}

.dept-tab-container {
    /* -fx-background-color: #31087B; */
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #ffd817, #fbde44);
    background-color: #31087B;
}

.edit-container {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
    background-color: #31087B;
    -fx-background-radius: 5;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
}

.table-view .column-header {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
}

.tab-header-background {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
}

.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler,
.table-view>.column-header-background>.show-hide-columns-button,
.tree-table-view>.column-header-background>.show-hide-columns-button,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-color: rgb(49, 49, 49);
    background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    font-weight: bold;
    size: 2em;
    color: rgb(49, 49, 49);
    -fx-text-fill: rgb(255, 0, 0);
    -fx-padding: 0.166667em;
    padding: 0.166667em;
}

.table-view .column-header .label {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    font-weight: bold;
}

.pagination {
    -fx-padding: 0;
    padding: 0;
    -fx-arrows-visible: true;
    -fx-tooltip-visible: true;
    -fx-page-information-visible: true;
    -fx-page-information-alignment: bottom;
    -fx-arrow-button-gap: 0;
    -fx-text-fill: rgb(20, 0, 24);
    -fx-size: 2em;
    size: 2em;
    -fx-font-weight: bold;
    font-weight: bold;
}

.pagination .label {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-size: 2em;
    -fx-font-weight: bold;
    size: 2em;
    font-weight: bold;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    border-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: rgb(20, 0, 24);
}

.table-row-cell {
    -fx-border-style: solid;
    -fx-border-style: solid; -fx-border-width: 0.5;
    border-style: none;
    border-width: 2;
    -fx-text-fill: rgb(255, 255, 255);
}

.table-view .table-cell {
    -fx-alignment: left;
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    border-style: none;
    border-width: 1;
    -fx-text-fill: rgb(255, 255, 255);
}

.table-row-cell:focused,
.table-cell:focused {
    -fx-text-fill: rgb(255, 255, 255);
}

.table-row-cell {
    -fx-background-color: -fx-primary;
    -fx-border-color: rgba(0, 0, 0, 0);
    background-color: -fx-primary;
    border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:empty {
    -fx-background-color: white;
    background-color: white;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:even:hover {
    -fx-text-fill: rgb(0, 0, 0);
	-fx-background-color:linear-gradient(to bottom, #0077ff 5%, #003f88 100%);
    background-color: #3a000a;
    font-weight: bold;
    -fx-font-weight: bold;
    height: 40px;
    -fx-height: 40px;
}

.table-row-cell:odd:hover {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color:linear-gradient(to bottom, #0077ff 5%, #003f88 100%);
    -fx-font-weight: bold;
    -fx-height: 40px;
    background-color: #003449;
    font-weight: bold;
    height: 40px;
}

.table-row-cell:even:empty {
    -fx-background-color: rgba(24, 24, 24, 0.5);
    background-color: rgb(24, 24, 24);
}

.table-row-cell:odd:empty {
    -fx-background-color: rgba(24, 24, 24, 0.5);
    background-color: rgb(24, 24, 24);
}

.table-row-cell:selected {
    -fx-background-color: black;
    background-color: black;
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    font-weight: bold;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    font-weight: bold;
}

.table-row-cell {
    -fx-background: rgb(24, 24, 24);
    background: rgb(24, 24, 24);
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
    padding: 0;
    -fx-text-fill: -fx-text-background-color;
    -fx-border-color: rgba(0, 0, 0, 0);
    border-color: null;
    -fx-height: 40px;
    height: 40px;
}

.table-row-cell:odd {
    -fx-text-fill: rgb(255, 255, 255);
	-fx-background-color:#bb161e;
	background-color:#bb161e;
    -fx-font-size: 13;
    font-size: 13;
    background: rgb(49, 49, 49);
}
.table-row-cell:even {
    -fx-text-fill: rgb(255, 255, 255);
	-fx-background-color:#830c12; 
	background-color:#830c12; 
    -fx-font-size: 13;
    font-size: 13;
    background: rgb(49, 49, 49);
}

.table-row-cell:selected {
    -fx-background-color:linear-gradient(to bottom, #ff0077 1%, #31087B 100%);
    background-color:linear-gradient(to bottom, #ff0077 1%, #31087B 100%);
    -fx-font-weight: bold;
    font-weight: bold;
}

.table-cell {
    -fx-padding: 0.166667em;
    /* 2px, plus border adds 1px */
    padding: 0.166667em;
    /* 2px, plus border adds 1px */
    -fx-background-color: null;
    background-color: null;
    -fx-border-color: null;
    border-color: null;
    -fx-cell-size: 2.0em;
    /* 24 */
    -fx-text-fill: -fx-text-background-color;
}

.text-field {
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
    -fx-background-color: #ff2f3a;
    background-color: #FFC23C;
    -fx-background-radius: 1;
    -fx-font-size: 15;
    font-size: 20;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-fill: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
    -fx-border-color: #ae00ff00;
    border-color: transparent;
    -fx-border-radius: 1;
    border-radius: 10;
}

.text-field:hover {
    -fx-border-color: rgb(255, 0, 208);
    border-color: yellow;
}

.text-field:focused {
    -fx-border-color: rgba(128, 23, 0, 0);
    border-color: rgba(0, 128, 0, 0);
}

.modal-bg {
    -fx-background-color: rgba(22, 22, 22, 0.897);
    background-color: rgba(22, 22, 22, 0.897);
    -fx-border-radius: 16px;
    border-radius: 16px;
    -fx-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -fx-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -fx-border: 1px solid rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.date-picker {
    -fx-font-size: 10px;
    font-size: 10px;
}

.text-area {
    -fx-text-area-background: #180b20;
    -fx-text-fill: white;
    -fx-font-size: 17;
    font-size: 17;
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
    -fx-fill: white;
    fill: white;
}
.text-area:hover {
    -fx-text-area-background: #180b20;
    -fx-text-fill: white;
    -fx-font-size: 17;
    font-size: 17;
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
    -fx-fill: white;
    fill: white;
}
.text-area:focused {
    -fx-text-area-background: #180b20;
    -fx-text-fill: white;
    -fx-font-size: 17;
    font-size: 17;
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
    -fx-fill: white;
    fill: white;
}

.text-area:pressed {
    -fx-text-area-background: #180b20;
    -fx-text-fill: white;
    -fx-font-size: 17;
    font-size: 17;
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
    -fx-fill: white;
    fill: white;
}

.text-area:selected {
    -fx-text-area-background: #180b20;
    -fx-text-fill: white;
    -fx-font-size: 17;
    font-size: 17;
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
    -fx-fill: white;
    fill: white;
}

.text-area .content {
    -fx-background-color: #180b20;
    background-color: #180b20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    border-radius: 10;
    -fx-text-fill: white;
    -fx-fill: white;
    fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: #180b20;
    border-color: #180b20;
    -fx-border-radius: 10;
    border-radius: 10;
    -fx-border-width: 2;
    border-width: 2;
    -fx-text-fill: white;
    -fx-fill: white;
    fill: white;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: #180b20;
    border-color: #180b20;
    -fx-border-radius: 10;
    border-radius: 10;
    -fx-border-width: 2;
    border-width: 2;
    -fx-text-fill: white;
    -fx-fill: white;
    fill: white;
}

.list-view, .tree-view {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff00dd, #27006c);
    background-color: linear-gradient(from 0% 0% to 100% 100%, #ff00dd, #27006c);
    -fx-border: 1 ridge black;
    border: 1 ridge black;

}

.button {
	-fx-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #f65058, #ff2f3a);
	-fx-border-radius:6px;
	-fx-text-fill:#ffffff;
	-fx-font-family:Arial;
	-fx-text-shadow:0px 1px 0px #b23e35;
}
.button:hover {
	-fx-background-color:linear-gradient(to bottom, #e7666c 5%, #ff525b 100%);
}
.button:pressed {
    -fx-background-color:linear-gradient(to bottom, #ff2f3a 5%, #ff2f3a 100%);
}

.toggle_button{
	-fx-background-color:linear-gradient(to bottom, #ff2f3a 90%, #bb161e 100%);
    -fx-border-width: 1in;
    -fx-font-size: 15px;
	-fx-font-family:Arial;
	-fx-text-fill:#ffffff;
}
.toggle_button:selected {
	-fx-background-color:linear-gradient(to bottom, #bb161e 90%, #bb161e 100%);
    -fx-border-width: 1in;
	-fx-font-family:Arial;
	-fx-text-fill:#ffffff;
}
.toggle_button:hover {
	-fx-background-color:linear-gradient(to bottom, #d3212a 80%, #bb161e 100%);
    -fx-border-width: 1in;
	-fx-font-family:Arial;
	-fx-text-fill:#ffffff;
}
.toggle_button:pressed {
	-fx-background-color:linear-gradient(to bottom, #bb161e 90%, #bb161e 100%);
    -fx-border-width: 1in;
	-fx-font-family:Arial;
	-fx-text-fill:#ffffff;
}
.combo-box .list-cell 
{
    -fx-background-color: linear-gradient(to bottom, #db4148 5%, #e21c26 100%);
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 14;
    -fx-background-radius: 5;
    -fx-padding: 7 0 7 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: linear-gradient(to bottom, #db4148 5%, #e21c26 100%), linear-gradient(to bottom, #db4148 5%, #e21c26 100%);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family: "Century Gothic";
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 0 0 0 5;

    /* No alternate highlighting */
    -fx-background-color: linear-gradient(to bottom, #db4148 5%, #e21c26 100%);
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
	-fx-background-color:linear-gradient(to bottom, #a51219 5%, #a51219 100%);
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
	-fx-background-color:linear-gradient(to bottom, #a51219 5%, #a51219 100%);
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}

.combo-box-base  
{
    -fx-background-color: linear-gradient(to bottom, #db4148 5%, #e21c26 100%), linear-gradient(to bottom, #db4148 5%, #e21c26 100%), linear-gradient(to bottom, #db4148 5%, #e21c26 100%), linear-gradient(to bottom, #db4148 5%, #e21c26 100%);
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;

}

.combo-box-base > .arrow-button {
    -fx-background-color: transparent;
   }
 
 .combo-box-base > .arrow-button > .arrow {
     -fx-background-color: #100720;
     /* -fx-shape: "M 0 0 H 7 L 3.5 4 z"; */
 }

 .date-picker{
    -fx-background-color: linear-gradient(to bottom, #db4148 5%, #e21c26 100%);
 }

.date-picker .arrow-button {
    -fx-background-color: linear-gradient(to bottom, #db4148 5%, #e21c26 100%);
	-fx-background-radius: 10;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
    -fx-border-color: #100720;

}
.date-picker .cell {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #31087B, #100720);
    -fx-font-family: "Century Gothic";
	-fx-text-fill: #ffffff;
    -fx-border-color: #100720;
}
.date-picker .cell:hover {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100720, #31087B);
}
.date-picker .cell:focused {
	-fx-background-color: #ff00dd;
}
.date-picker .selected {
	-fx-background-color: #ff3fe5;
    -fx-font-family: "Century Gothic";
	-fx-text-fill: #000000;
}
.date-picker .selected:focused {
	-fx-background-color: #ff00dd;
    -fx-font-family: "Century Gothic";
	-fx-text-fill: #0a0a0a;
}
.date-picker-popup  {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100720, #31087B);
    -fx-border-color: #100720;

}
.date-picker-popup .month-year-pane {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100720, #31087B);
}
.date-picker-popup .month-year-pane .label {
    -fx-font-family: "Century Gothic";
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-font-family: "Century Gothic";
	-fx-text-fill: white;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
    -fx-pref-height: 10;
    -fx-pref-width: 5;
    -fx-padding: 2 2 2 2;
}
.date-picker-popup .spinner .button,
.date-picker-popup .spinner .button {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100720, #31087B);
}

.menu-bar {
    -fx-background-color: black ;
    -fx-cursor: hand;
    -fx-opacity: 0.5;

}
.menu-bar .label {
    -fx-font-family: "Century Gothic";
    -fx-font-family: "Century Gothic";
    -fx-cursor: hand;
    -fx-text-fill: white;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100720, #31087B);
    -fx-opacity: 0.5;
    -fx-font-family: "Century Gothic";
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.menu-item {
    -fx-padding: 2 2 2 2;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #30087b75, #10072075);
}
.menu-item:hover {
    -fx-font-family: "Century Gothic";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-cursor: hand;
    -fx-background-color: #10072075;
}

.menu:hover, .menu:showing{
    -fx-background-color: #10072075;
}

.menu-item:focused{
    -fx-background-color: #10072075;
  }

.menu-item .label{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 13;
    -fx-cursor: hand;
    -fx-padding: 2 2 2 2;

}
.menu-item .label:hover{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-cursor: hand;

}
.context-menu {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #31087B, #100720);
    -fx-border-width: 0.2px;
    -fx-border-color: black;
    -fx-cursor: hand;
    /** -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
    -fx-opacity: 0.9;*/
}

/* CUSTOMS */

.author-container{
    -fx-border-color: #31087B;
    -fx-border-radius: 10;
    -fx-background-color: #31087B;
    -fx-background-radius: 10;
}

.remove-margins{
    -fx-margin: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.login-bg{
    -fx-background-color: rgba(0, 0, 0, 0.979);
    -fx-border-radius: 16px;
    -fx-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.986);
    -fx-backdrop-filter: blur(5px);
    -fx-border: 1px solid rgba(0, 0, 0, 0.986)
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
    -fx-pref-height: 0px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #c125ff 5%, #7f0059 100%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius : 0.0em;
    -fx-pref-width: 0px;
}

.scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-padding: 0;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-padding: 0;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 0;
}

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: linear-gradient(to bottom, #c125ff 5%, #7f0059 100%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.table-row-cell{
    -fx-border-color: #06000a;
    -fx-table-cell-border-color:#06000a;
    -fx-border-width: 1;
    -fx-border-style: groove;
    -fx-pref-height: 30;
    -fx-text-align: center;
    -fx-justify-items: center;
    -fx-justify-content: center;
    -fx-align-items: center;
    -fx-align-content: center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}